body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    background-color: #282828;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 10 auto;
    padding: 20px;
    background-color: #282828;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: #ff0000;
    font-weight: 600;
    letter-spacing: -0.5px;
  }
  hr{
    background-color: #cccccc37;
    opacity: 55%;
    width: 150%;
    border: none;
    height: 0.5px;
    margin-bottom: 30px;
    margin-left: -30px;
  }
  p{
    color: #ccc;
    letter-spacing: -0.3;
  }
  #form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  input[type="text"] {
    width: 150%;
    padding: 10px;
    background-color: #282828;
    color: #ccc;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    letter-spacing: -0.5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(227, 227, 227, 0.05);
  }
  
  button {
    background-color: #ff0000;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #9e0000;
  }
  
  #results {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  a{
    color: white;
  }